.rate {
  display: flex;
  gap: 6px;
}

.star {
  font-size: 24px;
  color: map.get($kasa-variables, "light-gray"); /* Default star color */
  @include mobile-responsive {
    font-size: 20px;
  }
}

.star.filled {
  color: map.get($kasa-variables, "red");
}