@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

* {
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin: auto;
}

h1, h2, p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

img {
  object-fit: cover;
}

.app {
  display: flex;
  flex-direction: column;
  padding: 45px 100px 0;
}